NODE_ENV=dev

# Public
NEXT_PUBLIC_BASEURL=http://localhost:3000
NEXT_PUBLIC_COLLAB_WS_URL=http://localhost:3000/collab

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB=ASOT

# Discord
DISCORD_GUILD_ID=XXXXXXXXXXXXXXXXXXX
DISCORD_CLIENT_ID=XXXXXXXXXXXXXXXXXXX
DISCORD_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXX
DISCORD_BOT_TOKEN=XXXXXXXXXXXXXXXXXXX
DISCORD_REDIRECT_URI=/login/callback
DISCORD_SCOPE=identify


# OCAP
OCAP_API_URL=http://your-ocap-server:5000
OCAP_VIEWER_URL=https://ocap.yourdomain.com

# Development
ANALYZE=false
OVERRIDE=240786290600181761,683343114865606686,224086573560365057