NODE_ENV=dev

# Public
NEXT_PUBLIC_BASEURL=http://localhost:3000
NEXT_PUBLIC_COLLAB_WS_URL=http://localhost:3000/collab

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB=ASOT

# Discord
DISCORD_GUILD_ID=XXXXXXXXXXXXXXXXXXX
DISCORD_CLIENT_ID=XXXXXXXXXXXXXXXXXXX
DISCORD_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXX
DISCORD_BOT_TOKEN=XXXXXXXXXXXXXXXXXXX
DISCORD_REDIRECT_URI=/login/callback
DISCORD_SCOPE=identify


# TeamSpeak
NEXT_PUBLIC_TS_ADDRESS=ts.yourdomain.com
TS_HOST=your-teamspeak-server-ip
TS_QUERY_PORT=10022
TS_SERVER_PORT=9987
TS_SERVERADMIN_PASSWORD=XXXXXXXXXXXXXXXXXXX

# OCAP
OCAP_API_URL=http://your-ocap-server:5000
OCAP_VIEWER_URL=https://ocap.yourdomain.com

# Development
ANALYZE=false
WIP_PAGES=false
OVERRIDE=240786290600181761,683343114865606686,224086573560365057
TS_OVERRIDE=uid1,uid2